<!doctype html>
<html>
<head>
  {{ content_for_header }}
</head>
<body>
  <div style="text-align:center; padding: 100px;">
    <h1>Laushe Redesign is Launching Soon</h1>
    <p>This store is currently in development mode.</p>
  </div>
  <div style="display:none;">
      {{ content_for_layout }}
  </div>
</body>
</html>
